:root{
    --DarkGray:#1F2122;
    --LightGray:#454848 ;
    --PinkColor:#E75E8D ;
    --mainfont: "Barriecito", system-ui;
    --secoundry:"Moon Dance", cursive ;
    
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.maincontainer{
    background-color: var(--DarkGray);
    width: 100%;
    padding:3vh 7% 2vh;
  
}
.maincontainer .header{
    width: 100%;
    display: flex;
   justify-content: space-between;
   align-items: center;

}
.maincontainer .header .logo{
width: 20%;
}
.maincontainer .header .logo img{
    width: 100%;
}
.maincontainer .header .line{
    height: 60px;
    width: 2px;
    background-color: var(--LightGray);
}
.maincontainer .header .search{
    width: 20%;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--LightGray);
    border-radius: 20px;
    padding: 10px 20px;
    color: #555;
    font-size: 20px;
    margin-right: 50px;
}
.maincontainer .header .search input{
    background-color: transparent;
    border: none;
    font-size: 17px;
    width: 80%;
    outline: none;
    color: #666;
}
.maincontainer .header ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
.maincontainer .header ul li a{
    color: #666;
    text-decoration: none;
    font-family: var(--secoundry);
    font-size: 25px;
    font-weight: bold;
    transition: 1s;
}
.maincontainer .header ul li a:hover{
    color: #E75E8D;
}
.maincontainer .header ul .proli{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--LightGray);
    border-radius: 20px;
    padding: 7px 15px;
    transition: 1s;
}
.maincontainer .header ul .proli:hover{
    background-color: var(--PinkColor);
}
.maincontainer .header ul .proli a:hover{
   color: aliceblue;
}
.maincontainer .header ul .proli img{
    border-radius: 50%;
} 
.maincontainer .header ul li .stream{
    color: var(--PinkColor);
}
.maincontainer .container{
    width: 100%;
    padding: 2vh 4%;
    background-color: var(--LightGray);
    border-radius: 30px;
    margin-top: 50px;
   
}
.maincontainer .container .content{
    width: 100%;
    padding: 0 5%;
    background-color: var(--LightGray);
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1.5fr 1fr; 
    gap: 10px;
}
.maincontainer .container .content .feature{
    
    padding: 5vh 6%;
    background-color: var(--DarkGray);
    margin-top: 50px;
    border-radius: 30px;
     
}
.maincontainer .container .content .feature h1
 {
    font-family: var(--mainfont);
    color: var(--PinkColor);
    font-size: 35px;
    text-align: left;
    text-transform: capitalize;
}
.maincontainer .container .content .feature h1 span 
 {
    text-decoration-line: underline;
    color: aliceblue;
    text-transform: capitalize;
     
}
.maincontainer .container .content .feature .cards{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    
    margin-top: 30px;
    justify-content: space-between;
row-gap: 30px;
margin-bottom: 50px;
}
.maincontainer .container .content .feature .cards .card
 {
 
 
background-color: var(--DarkGray);
padding: 15px;
border-radius: 20px;
}
.maincontainer .container .content .feature .cards .card img{
    width: 100%;
    border-radius: 20px;
}
 
.maincontainer .container .content .feature .cards .card .data{
   width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    color:#888888;
    font-family: var(--secoundry);
    font-size: 18px;
    text-transform: capitalize;
}
 
.maincontainer .container .content .feature .cards .card .data h2
 {
    color: aliceblue;
    font-family: var(--mainfont);
    font-size: 17px;
}
.maincontainer .container .content .feature .cards .card .data .dataright p{
    display: flex;
    justify-content: space-between;
}
  .fa-star 
 {
    color: yellow;
}
.maincontainer .container .content .feature .cards .card .data .fa-download
 {
    color: #E75E8D;
}
.maincontainer .container .content .download{
    
    background-color: var(--DarkGray);
    padding: 5vh 6%;  
    margin-top: 50px;
    border-radius: 30px;
}
.maincontainer .container .content .download h1{
    font-family: var(--mainfont);
    color: var(--PinkColor);
    font-size: 25px;
  margin-bottom: 40px;
    text-transform: capitalize;
}
.maincontainer .container .content .download h1 span{
    text-decoration-line: underline;
    color: aliceblue;
    text-transform: capitalize;
}
.maincontainer .container .content .download .cards .card{
display: flex;
 justify-content: space-between;
align-items: center;
flex-wrap: wrap;
 margin: auto;
}
.maincontainer .container .content .download .cards .card h2{
 color: aliceblue;
 
}
.maincontainer .container .content .download .cards .card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
     
}
.maincontainer .container .content .download .cards .card p{
    
    color: #E75E8D;
    font-family: var(--secoundry);
}
.maincontainer .container .content .download .cards .card button{
    border-radius: 15px;
    padding:7px 15px;
    background-color: #E75E8D;
    color: aliceblue;
    font-size: 18px;
    font-family: var(--mainfont);
    border: none;
}
hr{
    color: #454848;
}

.maincontainer .container .stream{
    width: 100%;
    padding: 5vh 4%;
    background-color: var(--DarkGray);
    margin-top: 50px;
    border-radius: 30px;
    text-align: center;
}
.maincontainer .container .stream h1{
    font-family: var(--mainfont);
    color: var(--PinkColor);
    font-size: 35px;
    text-align: left;
}
.maincontainer .container .stream h1 span{
    text-decoration-line: underline;
    color: aliceblue;
    text-transform: capitalize;
     
}
.maincontainer .container .stream .cards{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
margin-bottom: 50px;
 

}
.maincontainer .container .stream .cards .card{
 margin: auto;
padding: 15px;
border-radius: 20px;
}
.maincontainer .container .stream .cards .card img{
    width: 100%;
    border-radius: 20px;
}
.maincontainer .container .stream .cards .card img:hover{
    transform: rotate(5deg) scale(1.1);
}
.maincontainer .container .stream .cards .card .data{
   width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    color:#888888;
    font-family: var(--secoundry);
    font-size: 18px;
    text-transform: capitalize;
   
}
.maincontainer .container .stream .cards .card .data h2{
    color: aliceblue;
    font-family: var(--mainfont);
    font-size: 18px;
    
}
.maincontainer .container .stream .cards .card .data p{
    display: flex;
    justify-content: space-between;
}
.maincontainer .container .stream.cards .card .data .fa-star {
    color: yellow;
}
.maincontainer .container .stream .cards .card .data .fa-download{
    color: #E75E8D;
}
 .maincontainer .container .stream button
 {
    background-color: #E75E8D;
    color: aliceblue;
    font-family: var(--secoundry);
    border-radius: 20px;
    border: none;
    font-size: 25px;
    padding: 5px 15px;
    transition: 1s;
}
 
.maincontainer .container .stream  button:hover
 {
    color: var(--PinkColor);
    background-color: aliceblue;
}

.maincontainer .footer{
    width: 100%;
    text-align: center;
    color: aliceblue;
    font-family: var(--secoundry);
    font-size: 22px;
    margin: 50px 0 20px;
}
.maincontainer .footer .name{
    color: #E75E8D;
    font-size: 30px;}
    .maincontainer .header input[type="checkbox"],
.maincontainer .header label i{
    display: none;
}
    














    
@media(max-width:1150px) {
    .maincontainer .header{
        flex-wrap: wrap;
    }
    .maincontainer .header .logo{
        width: 20%;
    }
    .maincontainer .header .search{
        width: 50%;
    }
    .maincontainer .header ul{
        width: 90%;
        justify-content: space-between;
        margin-top: 30px;
    }   
    .maincontainer .content .popular .cards .card .data h2{
        font-size: 16px;
            }
            .maincontainer .content .popular .cards .card{
                width: 30%;
            }
}
@media(max-width:1110px) {
 .maincontainer .container .content {
    grid-template-columns: 1fr;
 }
      
}
@media(max-width:894px){

    .maincontainer .header .line
    {
        display: none;
    }
    .maincontainer .header .search{
        width: 90%;
        order: 4;
        margin: auto;
        margin-top: -20vh;
    }
    .maincontainer .container{
        margin-top: -15vh;
    }
    .maincontainer .header ul{
background-color: rgba(240, 248, 255, 0.469);
flex-direction: column;
margin-top:0;
gap: 10px;
align-items: flex-start;
padding:2vh 4% ;
border-radius: 20px 0 0 20px;
box-shadow: 4px 4px 4px #e75e8eee;
transition: 1s;
transform: rotatey(90deg);
transform-origin: right;
    }
    .maincontainer .header ul li {
        font-size: 20px;
        border-bottom: 1px solid #4548484d;
        width: 80%;
    }
    .maincontainer .header ul li a{
        color: aliceblue;
    }
     .maincontainer .header label i{
        display: block;
        color: var(--PinkColor);
        font-size: 35px;
     }
     .maincontainer .header .logo{
        width: 30%;
     }
     .maincontainer .header input[type="checkbox"]:checked+ul{
        transform: rotatey(0);
     }
     .maincontainer .container .content .feature .cards{    
        grid-template-columns: repeat(2,1fr);
    }
    
}
@media(max-width:700px) {
    .maincontainer .container .content .feature .cards{    
        grid-template-columns: repeat(1,1fr);
    }
    .maincontainer .container .content .feature .cards .card{
        width: 60%;
        margin: auto;
    }
    
    
}
